# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs.

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indent with 2 spaces
[*.html]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false

# PHP files
[*.php]
indent_style = space
indent_size = 4

# JavaScript files
[*.js]
indent_style = space
indent_size = 2

# Python files
[*.py]
indent_style = space
indent_size = 4
